<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="resources/appleDarkVersion.png" type="image/x-icon">
    <link rel="stylesheet" href="resources/styles.css">
    <title>Mac Simulation</title>
</head>
<body>
    <main>
        <img id="custom-cursor" src="resources/cursor.png" alt="Custom Cursor" style="position: absolute; pointer-events: none; z-index: 100; height: 22px; width: auto;" hidden onload="
            document.addEventListener('DOMContentLoaded', () => {
                const customCursor = document.getElementById('custom-cursor');

                document.addEventListener('mousemove', (e) => {
                    if (e.clientY != 0 || e.clientX != 0) {
                        customCursor.style.left = `${e.clientX - 2}px`;
                        customCursor.style.top = `${e.clientY - 2}px`;
                        customCursor.hidden = false // Show the custom cursor
                    }
                });

                document.addEventListener('mouseleave', (e) => {
                    customCursor.hidden = true;
                })
            });
        ">

        <div class="boot-screen" style="display: none;">
            <img src="resources/appleDarkVersion.png" alt="Apple Logo" class="boot-screen-logo">
            <div class="loading-bar">
                <div class="loading-progress"></div>
            </div>
        </div>

        <div class="start-screen" style="display: none;">
            <p class="start-screen-date">Monday, 1 January</p>
            <h1 class="start-screen-time">12:00</h1>

            <img src="resources/profilePicture.jpg" alt="Profile Picture" class="start-screen-profile-picture">
            <p class="start-screen-username">Muhmmad Raed Hashmi</p>
            <input type="password" class="start-screen-password" onkeydown="if(event.key === 'Enter') loginUser();" placeholder="•••••••••">
        </div>

        <div class="home-screen" hidden>
            <div class="toolbar-blur-background"></div>
            <div class="top-toolbar">
                <img src="resources/appleDarkVersion.png" alt="" class="top-toolbar-logo">
                <p class="currently-focused-instance-name">Finder</p>
                <button class="top-toolbar-button"  style="margin-left: 18px;">Edit</button>
                <button class="top-toolbar-button">View</button>
                <button class="top-toolbar-button">Tab</button>
                <button class="top-toolbar-button">Window</button>
                <img src="resources/settings.png" class="top-toolbar-settings-logo" onclick="openApp('settings')" alt="">
                <p class="top-toolbar-date">Mon Jan 01</p>
                <p class="top-toolbar-time">12:00</p>
            </div>

            <div class="windows-section">
                
            </div>

            <div class="dock">
                <img src="https://www.macos-web.app/app-icons/finder/256.png" style="margin-right: -3px;" alt="" draggable="false">
                <span hidden class="app-label finder-label" style="margin-right: 6px;">Finder</span>
                <div class="divider-vertical"></div>
                <img src="https://www.macos-web.app/app-icons/safari/256.png" alt="" draggable="false" onclick="openApp('safari')">
                <span hidden class="app-label safari-label" style="margin-right: 10.8px;">Safari</span>
                <img src="resources/cursorLogo.png" alt="" draggable="false" onclick="openApp('cursor')">
                <span hidden class="app-label cursor-label" style="margin-right: 3.8px;">Cursor</span>
                <img src="https://www.macos-web.app/app-icons/notes/256.png" style="margin-right: 10px;" alt="" draggable="false" onclick="openApp('notes')">
                <span hidden class="app-label notes-label" style="margin-right: 13px;">Notes</span>
                <img src="resources/ChatGPTLogo.png" style="width: 52px; height: 52px; margin-right: 10px;" alt="" draggable="false" onclick="openApp('chatgpt')">
                <span hidden class="app-label chatgpt-label" style="margin-right: -3px;">ChatGPT</span>
                <img src="https://www.macos-web.app/app-icons/reminders/256.png" class="reminders-app-icon" alt="" draggable="false" onclick="openApp('reminders')">
                <span hidden class="app-label reminders-label" style="margin-right: -11px;">Reminders</span>
            </div>
        </div>

        <script src="resources/script.js"></script>
    </main>
</body>
</html>